$widthSite: 1200px;
$backgroundColorSite: #ffffff;
$backgroundColorCounter: #f4f0ec;
$numberCounterColor: #cda274;
$headingTextColor: #292f36;
$textColor: #4d5053;
$borderRadius: 50px;
$borderArticle: 1px solid #e7e7e7;
